.aider*

# Backend
backend/.venv
backend/__pycache__/*
backend/*/__pycache__/*
backend/*/*/__pycache__/*
backend/.envrc
*.pyc


#Frontend
frontend/.env


# Specific files
/home/beyonder/dev/projects/EncodeX/backend/models/responses/__pycache__/caesar_response.cpython-312.pyc