# Backend
backend/.venv
backend/__pycache__/*
backend/*/__pycache__/*
backend/*/*/__pycache__/*
backend/.envrc
backend/.direnv/
backend/*.pyc


#Frontend
frontend/.env


# Specific files
/home/beyonder/dev/projects/EncodeX/backend/models/responses/__pycache__/caesar_response.cpython-312.pyc

# Gemini
gemini-session.txt
